header#top-header
  #branding
    h1 Company Name
  nav.nav-trigger
    p <i class="zmdi zmdi-menu"></i>
  nav#medium-up-nav
    ul
      a(href="#", data-tab="about")
        li About
      a(href="#", data-tab="services")
        li Services
      a(href="#", data-tab="contact")
        li Contact
      a(href="#", data-tab="shop")
        li Shop
    
nav#main-nav
  ul
    a(href="#", data-tab="about")
      li About
    a(href="#", data-tab="services")
      li Services
    a(href="#", data-tab="contact")
      li Contact
    a(href="#", data-tab="shop")
      li Shop
    
    
section.background
  h3 You have a seat at our table
  // an optional call to action. uncomment to show
  //- .home-cta
  //-   h4 Some call to action
  //-   button Go Now
  
  
section#about.panel
  .close
    p <i class="zmdi zmdi-close"></i>
  .panel-inner
    header.section-header
      h2.section-title About Us
    article.section-text
      p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eum, dolorum repellat delectus cum pariatur facere distinctio accusantium libero temporibus harum sint ullam optio omnis corporis possimus praesentium, aliquam nesciunt!

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsa tenetur eum, illo aspernatur quasi nostrum. Porro facere repellat vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsa tenetur eum, illo aspernatur quasi nostrum. Porro facere repellat vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea velit, ipsa libero voluptate? Iusto fugit tempore sed incidunt, veniam, natus!

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsa tenetur eum, illo aspernatur quasi nostrum. Porro facere repellat vitae.

      h3.section-subheader Our Philosophy
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere illo fugit perspiciatis, facilis animi illum blanditiis eum veniam delectus modi aspernatur hic sit dolorum beatae minima perferendis suscipit numquam totam!

    h3.section-subheader Our Team
    ul#team
      li.team-profile
        .team-profile-image
          img(src="http://fillmurray.com/150/150")
        .team-profile-text
          h4.team-profile-name John Doe
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          .social-links
            a(href="http://facebook.com", target="_blank") <i class="zmdi zmdi-facebook"></i>
            a(href="http://twitter.com", target="_blank") <i class="zmdi zmdi-twitter"></i>
      li.team-profile
        .team-profile-image
          img(src="http://fillmurray.com/150/150")
        .team-profile-text
          h4.team-profile-name Jane Doe
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          .social-links
            a(href="http://facebook.com", target="_blank") <i class="zmdi zmdi-facebook"></i>
            a(href="http://twitter.com", target="_blank") <i class="zmdi zmdi-twitter"></i>
      li.team-profile
        .team-profile-image
          img(src="http://fillmurray.com/150/150")
        .team-profile-text
          h4.team-profile-name Bill Johnson
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          .social-links
            a(href="http://facebook.com", target="_blank") <i class="zmdi zmdi-facebook"></i>
            a(href="http://twitter.com", target="_blank") <i class="zmdi zmdi-twitter"></i>

section#services.panel
  .close
    p <i class="zmdi zmdi-close"></i>
  .panel-inner
    header.section-header
      h2.section-title Services
    ul#services-list
      li.services-profile
        .services-profile-image
          img(src="https://unsplash.it/400/300?image=1001")
        .services-profile-text
          h4.services-profile-name Service Area 1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
      li.services-profile
        .services-profile-image
          img(src="https://unsplash.it/400/300?image=1002")
        .services-profile-text
          h4.services-profile-name Service Area 2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
      li.services-profile
        .services-profile-image
          img(src="https://unsplash.it/400/300?image=1003")
        .services-profile-text
          h4.services-profile-name Service Area 3
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
      li.services-profile
        .services-profile-image
          img(src="https://unsplash.it/400/300?image=1011")
        .services-profile-text
          h4.services-profile-name Service Area 4
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
      li.services-profile
        .services-profile-image
          img(src="https://unsplash.it/400/300?image=1012")
        .services-profile-text
          h4.services-profile-name Service Area 5
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
      li.services-profile
        .services-profile-image
          img(src="https://unsplash.it/400/300?image=1013")
        .services-profile-text
          h4.services-profile-name Service Area 6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.

section#contact.panel
  .close
    p <i class="zmdi zmdi-close"></i>
  .panel-inner
    header.section-header
      h2.section-title Contact
    ul#contact-list
      li.contact-list-item
        p.contact-list-item-header Social
        .social-links
          a(href="http://facebook.com", target="_blank") <i class="zmdi zmdi-facebook"></i>
          a(href="http://twitter.com", target="_blank") <i class="zmdi zmdi-twitter"></i>
          a(href="http://youtube.com", target="_blank") <i class="zmdi zmdi-youtube"></i>
      li.contact-list-item
        p.contact-list-item-header Phone
        a(href="tel:+11234567890") (123) 456-7890
      li.contact-list-item
        p.contact-list-item-header Email
        a(href="mailto:someone@thissite.com") someone@thissite.com
      li.contact-list-item.contact-location
        .contact-address
          p.contact-list-item-header Address
          p 123 This Way<br>Somewhere, CA 12345
        .contact-map      
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23767.84875331282!2d-87.64017871192155!3d41.87175321640845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1486673926991" width="800px" height="500px" frameborder="0" style="border:0" allowfullscreen)

section#shop.panel
  .close
    p <i class="zmdi zmdi-close"></i>
  .panel-inner
    header.section-header
      h2.section-title Shop
    ul#shop-list
      li.shop-profile
        .shop-profile-image
          img(src="https://unsplash.it/400/300?image=1005")
        .shop-profile-text
          p.shop-profile-price $9.99
          h4.shop-profile-name Product 1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          button.shop-profile-button Add to Cart
      li.shop-profile
        .shop-profile-image
          img(src="https://unsplash.it/400/300?image=1006")
        .shop-profile-text
          p.shop-profile-price $19.99
          h4.shop-profile-name Product 2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          button.shop-profile-button Add to Cart
      li.shop-profile
        .shop-profile-image
          img(src="https://unsplash.it/400/300?image=1009")
        .shop-profile-text
          p.shop-profile-price $29.99
          h4.shop-profile-name Product 3
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          button.shop-profile-button Add to Cart
      li.shop-profile
        .shop-profile-image
          img(src="https://unsplash.it/400/300?image=1008")
        .shop-profile-text
          p.shop-profile-price $39.99
          h4.shop-profile-name Product 4
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsam quibusdam.
          button.shop-profile-button Add to Cart